.navigation {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navigation > div {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navigation > div > a {
    text-decoration: none;
    font-family: fantasy;
    font-size: 24px;
    font-weight: 700;
    color: black;
}