.navigation {
    z-index: 1;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(0, 78, 167) 0%, rgb(107, 146, 255) 100%);
}

.navigation > div {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navigation > div > a {
    text-decoration: none;
    font-family: fantasy;
    font-size: 24px;
    font-weight: 700;
    color: black;
}