.wrapper {
    background-image: url('./office.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

.contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}

.emojis {
    flex-direction: row;
}

.contents > div > span {
    font-size: 100px;
    margin: 0 20px;
}

.title {
    text-transform: uppercase;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.phrase {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.imgWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.imgWrapper > img {
    height: 5vh;
    transition: height 1s ease-in-out;
    z-index: 1;
}

.imgWrapper > img:hover {
    height: 50vh;
}
